{% extends "header.html" %}
{% block title %}CodeVetica{% endblock %}
{% block content %}
<div class="vert-align-full">
    {{ message|safe }}  
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- abc123123 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-4913550973101483"
     data-ad-slot="6917513136"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endblock %}


